language: python
addons:
  apt:
    packages:
    - aspell-en

python:
  - "3.4"
  - "3.5"
  - "3.6"
script:
  - (set -e; for i in 0?-*.md; do echo "Extracting $i"; python3 tools/extract-formats.py $i; done)
  - tools/spellcheck.sh --check *.md
